{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Create</title>
</head>
<body>
<h1>Add problem</h1>
<form action="/add/" method="post">
    {% csrf_token %}
    <label>Problem:</label><br/>
    <input type="text" name="description" required/><br/>
    <label>Detailed Description:</label><br/>
    <input type="text" name="detailed_description"/><br/>
    <label>Status:</label>
    <select name="status">
        <option value="new">новая</option>
        <option value="in_progress">в процессе</option>
        <option value="done">сделано</option>       
    </select><br/>
    <label>Deadline:</label><br/>
    <input type="date" name="dead_line" required/><br/>
    <br/>
    <input type="submit" value="Add problem"/>
</form>
</body>
</html>