{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="/add" method="get">
    <input type="submit" value="Add problem"/>
    </form>
    <h1>Problems</h1>
    {% if not problems %}
        <h2>НЕТ ЗАДАЧ</h2>
    {% endif %}
 
    {% for problem in problems %}
        <p>{{ problem.description }}: <a href="{% url 'problem-view' problem.id %}">открыть задачу</a><a href="{% url 'remove-problem' problem.id %}" style="margin-left:20px">удалить задачу</a></p>
    {% endfor %}

</div>
{% endblock content %}