{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Задачи</title>
</head>
<body>
<div class="container">
    <a href="/add">Создать задачу</a>
    <h1>Задачи</h1>
    {% if not problems %}
        <h2>НЕТ ЗАДАЧ</h2>
    {% endif %}
 
    {% for problem in problems %}
        <p>{{ problem.description }}: <a href="/problem?id={{ problem.id }}">открыть задачу</a></p>
    {% endfor %}

</div>
</body>
</html>